@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
  --primary: rgba(76,120,31);
  --secondary: rgba(111,105,107);
}

body {
  margin: 0;
  background: url(https://wallpapercave.com/wp/XqRBXyO.jpg) no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Rock Salt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: none!important;
}

.header, .card, .nav, .carousel, .footer {
  background-color: transparent;
}
